<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <test name="Test1">
  <parameter name="Sort_Method" value="Name"/>
	<parameter name="Product_Name" value="Sony Xperia"/>
	<parameter name="quantity" value="502"/>
    <classes>
      <class name="com.suchi.Scenarios.EcommerceTest"/>
    </classes>
  </test>
 <!--   <test name="Test2">
  <parameter name="Sort_Method" value="Name"/>
	<parameter name="Product_Name" value="IPhone"/>
    <classes>
      <class name="com.suchi.Scenarios.EcommerceTest"/>
    </classes>
  </test>  
  <test name="Test3">
  <parameter name="Sort_Method" value="Name"/>
	<parameter name="Product_Name" value="Samsung Galaxy"/>
    <classes>
      <class name="com.suchi.Scenarios.EcommerceTest"/>
    </classes>
  </test> 
  <test name="Test4">
  <parameter name="Sort_Method" value="Name"/>
	<parameter name="Product_Name" value="abcd"/>
    <classes>
      <class name="com.suchi.Scenarios.EcommerceTest"/>
    </classes>
  </test> --> <!-- Test -->
</suite> <!-- Suite -->
